# Creating comet models

In [1]:
import os, sys
sys.path.insert(1,'/Users/azib/Documents/open_source/kilimanjaro/scripts/')
sys.path.insert(1, '/Users/azib/Documents/open_source/kilimanjaro/stella/')

import numpy as np
import build_synthetic_set as models
from utils import *
import matplotlib.pyplot as plt
from glob import glob
from tqdm import tqdm

## TESS S28 lightcurves
- S28 is taken as random test sample.
- 2-minute SPOC data.
- Possibly we'll need to generate models for each sector to account for the sector-related noise properties?

### Generate the models

In [2]:
files = glob('../data/s0028-sc/*.fits', recursive=True)
len(files)

3907

In [3]:
files[0:5]

['../data/s0028-sc/tess2020212050318-s0028-0000000025225879-0190-s_lc.fits',
 '../data/s0028-sc/tess2020212050318-s0028-0000000050492743-0190-s_lc.fits',
 '../data/s0028-sc/tess2020212050318-s0028-0000000263004788-0190-s_lc.fits',
 '../data/s0028-sc/tess2020212050318-s0028-0000000038459686-0190-s_lc.fits',
 '../data/s0028-sc/tess2020212050318-s0028-0000000266997506-0190-s_lc.fits']

In [4]:
os.makedirs('../models/',exist_ok=True)
fails = []
try:
    for i in tqdm(files):
        lc, info = import_lightcurve(i)
    
        t0 = np.random.uniform(lc['TIME'][0],lc['TIME'][-1])
        A = 10 ** np.random.uniform(-3.5, -2, 1)[0]
        model = 1-models.comet_curve(lc['TIME'],A,t0)
        flux = model * lc['SAP_FLUX']
        
        time = np.array(lc['TIME'])
        flux = np.array(flux)
        fluxerror = np.array(lc['SAP_FLUX_ERR'])
        ticid = np.array(info['TICID'])
        t0 = np.array(t0)
        np.save(f"../models/{info['TICID']}_sector28.npy", np.array([time, flux, fluxerror,ticid,t0]))
        
except TypeError as e:
    ids = f"{info['TICID']}" + 'e'
    fails.append(ids)
    pass

  0%|                                                          | 0/3907 [00:00<?, ?it/s]/var/folders/bv/h7ss9cs93lq15v21yc62bk600000gn/T/ipykernel_2990/3536853454.py:17: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  np.save(f"../models/{info['TICID']}_sector28.npy", np.array([time, flux, fluxerror,ticid,t0]))
100%|███████████████████████████████████████████████| 3907/3907 [03:04<00:00, 21.22it/s]

---

## Sanity check: Read in flare models and plot grid

In [ ]:
flares = glob('../stella-tests/lc/*.npy')
flares[0:5]

In [5]:
file_paths = glob('../stella-tests/lc/*_model.npy')

num_files_per_grid = 100

# Loop through the file paths in chunks of num_files_per_grid
for i in range(0, len(file_paths), num_files_per_grid):
    batch_paths = file_paths[i:i+num_files_per_grid]
    num_rows, num_cols = 10, 10
    fig, axs = plt.subplots(num_rows, num_cols, figsize=(20, 20))

    for j, path in enumerate(batch_paths):
        file = np.load(path)
        time, flux, fluxerror = file

        # Extract the file ID from the path
        file_id = os.path.splitext(os.path.basename(path))[0].split('_')[0]

        row = j // num_cols
        col = j % num_cols

        axs[row, col].plot(time, flux)
        axs[row, col].set_title(f'TIC {file_id}')

    plt.tight_layout()
    plt.show()
    break

In [6]:
import stella

/Users/azib/micromamba/envs/kilimanjaro/lib/python3.8/site-packages/lightkurve/config/__init__.py:119: UserWarning: The default Lightkurve cache directory, used by download(), etc., has been moved to /Users/azib/.lightkurve/cache. Please move all the files in the legacy directory /Users/azib/.lightkurve-cache to the new location and remove the legacy directory. Refer to https://docs.lightkurve.org/reference/config.html#default-cache-directory-migration for more information.
  warnings.warn(

In [3]:
test = download.flare_table.to_pandas()
test

,TIC,Outbst,Flare,tpeak,e_tpeak,E_tpeak,Amp,e_Amp,E_Amp,FWHMdt,e_FWHMdt,E_FWHMdt,Ebol,e_Ebol,E_Ebol,MCME,e_MCME,E_MCME
0,2760232,1,1,2.458357e+06,0.000863,0.000854,0.01475,0.00168,0.00170,0.01958,0.00307,0.00375,NaN,NaN,NaN,NaN,NaN,NaN
1,2760232,2,1,2.458358e+06,0.001059,0.001026,0.01389,0.00162,0.00175,0.01612,0.00338,0.00394,NaN,NaN,NaN,NaN,NaN,NaN
2,2760232,3,1,2.458360e+06,0.000026,0.000026,0.28258,0.00817,0.00949,0.00196,0.00017,0.00017,NaN,NaN,NaN,NaN,NaN,NaN
3,2760232,3,2,2.458360e+06,0.000195,0.000195,0.04634,0.00589,0.00598,0.00610,0.00063,0.00062,NaN,NaN,NaN,NaN,NaN,NaN
4,2760232,3,3,2.458360e+06,0.001735,0.001565,0.01665,0.00185,0.00155,0.05816,0.00920,0.00928,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8690,471015484,9,1,2.458371e+06,0.000070,0.000073,0.13585,0.00572,0.00568,0.00254,0.00018,0.00020,NaN,NaN,NaN,NaN,NaN,NaN
8691,471015484,10,1,2.458373e+06,0.000201,0.000249,0.04478,0.00437,0.00442,0.00410,0.00100,0.00100,NaN,NaN,NaN,NaN,NaN,NaN
8692,471015484,10,2,2.458373e+06,0.000323,0.000329,0.02797,0.00334,0.00339,0.00744,0.00207,0.00283,NaN,NaN,NaN,NaN,NaN,NaN
8693,471015484,11,1,2.458379e+06,0.000151,0.000161,0.03871,0.00519,0.00646,0.00266,0.00070,0.00079,NaN,NaN,NaN,NaN,NaN,NaN
8694,471015484,12,1,2.458380e+06,0.000078,0.000075,0.10938,0.00683,0.00801,0.00238,0.00031,0.00031,NaN,NaN,NaN,NaN,NaN,NaN

## Loading comet models

In [ ]:
comets =  glob('../models/*_model.npy')

In [ ]:
num_files_per_grid = 100

tic = []
times = []

for i in range(0, len(comets), num_files_per_grid):
    batch_paths = comets[i:i+num_files_per_grid]
    num_rows, num_cols = 10, 10
    fig, axs = plt.subplots(num_rows, num_cols, figsize=(20, 20))

    for j, path in enumerate(batch_paths):
        file = np.load(path,allow_pickle=True)
        time, flux, fluxerror, ticid,t0 = file
        flux = flux/np.nanmedian(flux)

        # Extract the file ID from the path
        file_id = os.path.splitext(os.path.basename(path))[0].split('_')[0]
        tic.append(ticid)
        times.append(t0)
        

        row = j // num_cols
        col = j % num_cols

        axs[row, col].plot(time, flux)
        axs[row, col].set_title(f'TIC {file_id}')

    plt.tight_layout()
    plt.show()

In [5]:
import pandas as pd

In [8]:
data = pd.DataFrame(data=[tic,times]).T
columns = ['TIC','tpeak']
data.columns = columns
data['TIC_ID'] = data['TIC_ID'].astype(int)
data['tpeak'] = data['tpeak'].astype(float)

NameError: name 'tic' is not defined

In [ ]:
directory = '/Users/azib/Documents/open_source/kilimanjaro/models'
ids = [int(file_name.split('_')[0]) for file_name in os.listdir(directory) if '_' in file_name]
matched_ids = [id_ for id_ in ids if id_ in data['TIC_ID'].values]

In [ ]:
test = pd.DataFrame(ids,columns=['TIC_ID'])

In [ ]:
data2 = pd.merge(test,data,how='outer').fillna(0)
data2

In [ ]:
data2.to_csv('tests.txt',index=False)

In [ ]:
import stella

In [ ]:
ds = stella.FlareDataSet(fn_dir='/Users/azib/Documents/open_source/kilimanjaro/models/',
                         catalog='/Users/azib/Documents/open_source/kilimanjaro/notebooks/tests.txt')